# Hathor core library for nanocontract development
# git+https://github.com/HathorNetwork/hathor-core.git
git+https://github.com/HathorNetwork/hathor-core.git@nano-tutorials

# Testing utilities for notebooks
ipytest
pytest-xdist
